<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FirmaXML.Properties.Settings"
      type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<applicationSettings>
		<FirmaXML.Properties.Settings>
   <setting name="CertThumbPrint" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="CertPass" serializeAs="String">
    <value>1</value>
   </setting>
  </FirmaXML.Properties.Settings>
	</applicationSettings>
</configuration>